# 롬복이 생성한 모든 메서드에 @Generated 어노테이션을 추가하여
# MyBatis 리플렉션 및 정적 분석 도구와의 충돌을 방지합니다.
lombok.addLombokGeneratedAnnotation = true

# 생성자 주입 시 어노테이션을 복사하도록 설정 (Qualifier 등 지원)
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
